:host {
    display: block;
}

// Form validation styles
.ng-invalid.ng-touched:not(form) {
    @apply border-red-500 dark:border-red-400;

    &:focus {
        @apply ring-2 ring-red-500 dark:ring-red-400;
    }
}

button {
    &:hover {
      transform: translateZ(0); // Force hardware acceleration
    }
    
    &:disabled {
      transform: none !important;
      cursor: not-allowed;
    }
  }

